<?xml version="1.0"?>
<launch>
        <group ns="iris1">
                <include file="$(find formation_ctrl)/launch/formation_cbf.launch">
                        <arg name="SYS_ID" value="1"/>
                </include>
                <node name="gps_init_py" pkg="formation_ctrl" type="gps_init.py" output="screen"></node>
        </group>
        <group ns="iris2">
                <include file="$(find formation_ctrl)/launch/formation_cbf.launch">
                        <arg name="SYS_ID" value="2"/>
                </include>
                <node name="gps_init_py" pkg="formation_ctrl" type="gps_init.py" output="screen"></node>
        </group>
        <group ns="iris3">
                <include file="$(find formation_ctrl)/launch/formation_cbf.launch">
                        <arg name="SYS_ID" value="3"/>
                </include>
                <node name="gps_init_py" pkg="formation_ctrl" type="gps_init.py" output="screen"></node>
        </group>
</launch>